/* mobile */

@media screen and (max-width: 576px) {
  .hide {
    display: none;
  }
  *{
    margin: 0;
    padding: 0;
  }

  .unhappy {
    margin-left: 10px;
    margin-top: 35px;
  }
  .unhappy h3 {
    font-size: 12px;
  }
  .unhappy p {
    width: 272px;
    font-size: 24px;
  }
  .emotion {
    margin-left: 10px;
  }
  .banner-image {
    height: 145px;
    width: 100%;
    margin: 22px 0;
  }
  header {
    padding: 13px 10px 0 10px;
  }
  .logo strong {
    font-size: 24px;
  }
  .menu li a {
    font-size: 14px;
    margin-left: 10px;
  }
  .hide-main {
    display: block;
  }
  .hide-main i {
    font-size: 24px;
  }
  .emotion h3 {
    width: 227px;
    font-size: 24px;
    margin-bottom: 0px;
  }
  .emotion p {
    width: 275px;
    font-size: 12px;
    margin: 32px 0;
  }
  .form1 label h4 {
    font-size: 10px;
  }
  .input1 {
    margin-top: 10px;
    width: fit-content;
    height: auto;
    border-radius: 12px;
    background: #f2f2f2;
    display: flex;
  }
  #mail {
    font-size: 14px;
    padding: 11px 13px;
  }
  #submit {
    font-size: 14px;
    padding: 11px 13px;
  }

  .input1 input {
    font-size: 14px;
  }
  /* collage responsive */

  .collage-items {
    display: grid;
    grid-template-columns: repeat(1, 0.9fr);
    gap: 36px;
    justify-content: center;
    grid-template-rows: repeat(4, 1fr);
  }
  .design-title {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }
  .design-title h2 {
    width: 267px;
    color: #333;
    font-size: 24px;
    font-weight: 500;
  }

  .services {
    margin-top: 50px;
    padding: 15px;
  }
  .service-card-container {
    flex-direction: column;
    gap: 20px;
  }
  .service-container h3 {
    width: auto;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .design {
    margin: 50px 0 50px 0;
  }
  .seemore {
    display: inline-flex;
    gap: 13px;
    color: #2d9cdb;
    left: 15px;
    bottom: 0px;
  }
  .cursor {
    left: 95px;
  }
  .team-container{
    flex-direction: column;
    padding:0 15px;
    align-items: baseline;
    gap: 50px;
  }
  .team-images {
    gap: .5rem;
  }.member-img3{
    margin-top: .5rem;
  }
.team-container{
  margin-bottom: 50px;
}


  .testimoni-container h2 {
    font-size: 1.25rem;
    margin-bottom: 26px;
  }
  .testi-image {
    gap: 15px;
  }

  .testi-image-des h4 {
    font-size: 1.25rem;
    margin-top: 12px;
  }
  .testi-image-des p {
    font-size: 12px;
  }
  .Testimoni{
    padding:0 15px;
    margin-bottom: 50px;
  }
.footer{
  height: auto;
  padding-top: 20px;
}
  .footer-container{
    text-align: center;
    flex-direction: column;
      padding:15px;
      width: 100%;
      align-items: center;
  }
  .socials-icon{
    justify-content: center;
  }
}
