/* mobile */

@media screen and (max-width: 576px) {
  .hide {
    display: none;
  }

  .unhappy {
    margin-left: 40px;
  }
  .unhappy h3 {
    font-size: 12px;
  }
  .unhappy p {
    width: 272px;
    font-size: 24px;
  }
  .emotion {
    margin-left: 40px;
  }
  .banner-image {
    height: 145px;
    width: 100%;
    margin: 22px 0;
  }
  header {
    padding: 13px 10px 0 10px;
  }
  .logo strong {
    font-size: 24px;
  }
  .menu li a {
    font-size: 14px;
    margin-left: 10px;
  }
  .hide-main {
    display: block;
  }
  .hide-main i {
    font-size: 24px;
  }
  .emotion h3 {
    width: 227px;
    font-size: 24px;
    margin-bottom: 0px;
  }
  .emotion p {
    width: 275px;
    font-size: 12px;
    margin: 32px 0;
  }
  .form1 label h4 {
    font-size: 10px;
  }
  .input1 {
    margin-top: 10px;
    width: fit-content;
    height: auto;
    border-radius: 12px;
    background: #f2f2f2;
    display: flex;
  }
  #mail {
    font-size: 14px;
  }
  #submit {
    font-size: 14px;
  }

  .input1 input {
    font-size: 14px;
  }
  /* collage responsive */
  .collage-items {
    display: grid;
    grid-template-columns: repeat(1, 0.9fr);
    gap: 36px;
    justify-content: center;
    margin: 0 10px;
    grid-template-rows: repeat(4, 1fr);
  }
  .design-title {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }
  .design-title h2 {
    width: 267px;
    color: #333;
    font-size: 24px;
    font-weight: 500;
  }

}
